.carousel-container {
    width: 100%;
    height: 100%;
    padding: 3rem;
    position: relative;
}

.carousel-header {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    text-shadow: .5rem -.3rem 1rem rgba($color-black,.3);
}

.carousel {
    width: 80%;
    height: 75vh;
    margin: 0rem auto;
    border: 1rem solid $color-test-light;
    border-radius: .4rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba($color-black,.6);
    
    &__inner {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        display: flex;
        transition: all .3s linear;
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__svg-1 {
        cursor: pointer;
        width: 10rem;
        height: 10rem;
        position: absolute;
        top:50%;
        left: 10rem;
        fill: $color-test-light;
        opacity: 0.7;
        transform: translateY(-50%);
        &:hover {
            opacity: 1;
        }
    }
    &__svg-2 {
        cursor: pointer;
        width: 10rem;
        height: 10rem;
        position: absolute;
        top:50%;
        right: 10rem;
        fill: $color-test-light;
        opacity: 0.7;
        transform: translateY(-50%);
        &:hover {
            opacity: 1;
        }
    }
}

.bullets-container {
    position: absolute;
    width: 15%;
    height: 5rem;
    left: 50%;
    bottom: -1rem;
    transform: translateX(-50%);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.bullets {
    display: inline-block;
    width: 4rem;
    border-radius: .5rem;
    background-color: $color-test-light;
    height: 1rem;
    opacity: 0.45;
    cursor: pointer;
    transition: all .2s ease;
}

.bullets:hover {
    opacity: 0.65;
    
}

.bullets.active {
    opacity: 1;
    transform: scale(1.2);
}